/* --------------------------------------------------------------------
default css
-----------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  color: #000;
  position: relative;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
  color: white;
}

button {
  cursor: pointer;
}

/* --------------------------------------------------------------------
header
-----------------------------------------------------------------------*/
.navbar-brand {
  color: #F9B313 !important;
}

.navbar-brand span {
  font-weight: bold;
  color: #FF003C !important;
}

.active {
  font-weight: bold;
  color: #FF003C !important;
}