/* --------------------------------------------------------------------
default css
-----------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  color: #000;
  position: relative;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
  outline: none;
  color: white;
}

button {
  cursor: pointer;
}

/* --------------------------------------------------------------------
header
-----------------------------------------------------------------------*/
.navbar-brand {
  color: #F9B313 !important;
}

.navbar-brand span {
  font-weight: bold;
  color: #FF003C !important;
}

.active {
  font-weight: bold;
  color: #FF003C !important;
}

/* --------------------------------------------------------------------
header
-----------------------------------------------------------------------*/
#home .row .caption h1 {
  color: #000;
  font-weight: bold;
  margin-top: 130px;
}

#home .row .caption h1 span {
  color: #FF003C;
}

#home .row .caption h5 {
  color: #E2E3ED;
  padding-top: 10px;
  line-height: 30px;
  margin-bottom: 50px;
}

.btn-lg {
  background-color: #F9B313;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
}

/* --------------------------------------------------------------------
bhinneka
-----------------------------------------------------------------------*/
#bhinneka {
  margin-top: 130px;
  background-color: #FF7272 !important;
}

#bhinneka .row .caption h2 {
  margin-top: 100px;
  color: #FF003C;
  font-weight: bold;
}

#bhinneka .row .caption h5 {
  color: #E2E3ED;
  line-height: 35px;
  margin-top: 30px;
  margin-bottom: 40px;
}

#bhinneka .row .img img {
  width: 500px;
}

/* --------------------------------------------------------------------
bhinneka
-----------------------------------------------------------------------*/
#president .row .caption h4 {
  color: #FF003C;
}

#president .row .caption h4 span {
  font-weight: bold;
}

#president .row .caption h6 {
  opacity: 0.4;
}

#president .row .img-caption h3,
h6 {
  opacity: 0.6;
}